.title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cadetblue;
    text-align: center;
    
}
span{
    color: rgb(228, 102, 102);
}